# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
protocol_documents/
protocol_classifier/
baseline_models/
results/
logs/
*.pdf
*.joblib

# Model files
*.pth

# Trained Models
trained_models/
*.pt
*.bin
*.h5

# Logs
*.log